<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="movies"
          :options.sync="options"
          :server-items-length="totalMovies"
          :loading="loading"
          :footer-props="{'items-per-page-options':[10, 15, 25, 50]}"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-card>
              <v-card-title>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
            </v-card>
            <v-toolbar flat color="white">
              <v-toolbar-title>Movies</v-toolbar-title>
              <v-divider
                class="mx-4"
                inset
                vertical
              ></v-divider>
              <v-spacer></v-spacer>
              <v-dialog v-model="dialog" max-width="800px">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    color="primary"
                    dark
                    class="mb-2"
                    v-bind="attrs"
                    v-on="on"
                  >New Movie</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-form
                      ref="form"
                      v-model="valid"
                      lazy-validation
                    >
                      <div v-for="error in errors" :key="error.index">
                        <v-alert v-if="typeof error === 'object'"  type="error">
                          <div v-for="elements in error" :key="elements.index">
                            <ul>
                              <li v-for="element in elements" :key="element.index">
                                {{element}}
                              </li>
                            </ul>
                          </div>
                        </v-alert>
                      </div>
                      <v-container>
                        <v-row>
                          <v-col cols="12" sm="4">
                            <v-text-field
                              v-model="editedItem.show_id"
                              :rules="[rules.required]"
                              type="number"
                              label="Show id">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="4">
                            <v-text-field
                              v-model="editedItem.type"
                              :rules="[rules.required]"
                              label="Type">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="4">
                            <v-text-field
                              v-model="editedItem.title"
                              :rules="[rules.required]"
                              label="Title">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6">
                            <v-text-field
                              v-model="editedItem.director"
                              label="Director">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6">
                            <v-text-field
                              v-model="editedItem.cast"
                              label="Cast">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="4">
                            <v-text-field
                              v-model="editedItem.country"
                              label="Country">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="4">
                            <v-text-field
                              v-model="editedItem.release_year"
                              :rules="[rules.required]"
                              type="number"
                              label="Release Year">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="4">
                            <v-text-field
                              v-model="editedItem.rating"
                              :rules="[rules.required]"
                              label="Rating">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6">
                            <v-text-field
                              v-model="editedItem.duration"
                              :rules="[rules.required]"
                              label="Duration">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12" sm="6">
                            <v-text-field
                              v-model="editedItem.listed_in"
                              :rules="[rules.required]"
                              label="Listed In">
                            </v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-textarea
                              label="Description"
                              v-model="editedItem.description"
                              :rules="[rules.required]"
                            ></v-textarea>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="goToMovie(item)"
            >
              mdi-eye
            </v-icon>
            <v-icon
              small
              class="mr-2"
              @click="editItem(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="deleteItem(item)"
            >
              mdi-delete
            </v-icon>
          </template>
          <template v-slot:no-data>
            No movies
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    errors: [],
    valid: true,
    search: '',
    totalMovies: 0,
    loading: true,
    dialog: false,
    options: {},
    headers: [
      {
        text: 'Show id',
        align: 'start',
        sortable: false,
        value: 'show_id',
      },
      { text: 'Type', sortable: false, value: 'type' },
      { text: 'Title', sortable: false, value: 'title' },
      { text: 'Director', sortable: false, value: 'director' },
      { text: 'Cast', sortable: false, value: 'cast' },
      { text: 'Release Year', sortable: false, value: 'release_year' },
      { text: 'Rating', sortable: false, value: 'rating' },
      { text: 'Duration', sortable: false, value: 'duration' },
      {
        text: 'Actions', value: 'actions', sortable: false, width: '100px',
      },
    ],
    movies: [],
    editedIndex: -1,
    editedId: -1,
    editedItem: {
      show_id: '',
      type: '',
      title: '',
      director: '',
      cast: '',
      release_year: '',
      rating: '',
      duration: '',
    },
    defaultItem: {
      show_id: '',
      type: '',
      title: '',
      director: '',
      cast: '',
      release_year: '',
      rating: '',
      duration: '',
    },
    rules: {
      required: value => !!value || 'Required.',
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New Movie' : 'Edit Movie';
    },
  },
  watch: {
    dialog(val) {
      if (!val) {
        this.close();
      }
    },
    options: {
      handler() {
        this.getDataFromApi();
      },
      deep: true,
    },
    search() {
      // use throttling for not sending too much requests
      clearTimeout(this.timerId);

      this.timerId = setTimeout(() => {
        this.getDataFromApi();
      }, 500);
    },
  },
  mounted() {
    this.getDataFromApi();
  },
  methods: {
    goToMovie(item) {
      this.$router.push({ name: 'movies', params: { id: item.id } });
    },
    getDataFromApi() {
      this.loading = true;

      const search = this.search.trim();

      const { page, itemsPerPage } = this.options;

      // get data filtered and paginated from server
      this.$axios
        .get(`/api/movies?search=${search}&page=${page}&itemsPerPage=${itemsPerPage}`)
        .then((response) => {
          this.movies = response.data.data;
          this.totalMovies = response.data.total;
          this.loading = false;
        })
        .catch(error => Console.error(error));
    },
    editItem(item) {
      this.editedIndex = this.movies.indexOf(item);
      this.editedId = item.id;
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    deleteItem(item) {
      const index = this.movies.indexOf(item);
      /* eslint-disable */
      if (window.confirm('Are you sure you want to delete this movie?')) {
        // make request for deleting a movie
        this.$axios
          .delete(`/api/movies/${item.id}`)
          .then((response) => {
            this.movies.splice(index, 1);
            this.getDataFromApi();
          })
          .catch(errors => console.error(errors.response.data));
      }
    },
    close() {
      // close dialog
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.editedId = -1;
      });
    },
    save() {
      if (this.$refs.form.validate()) {
        // edit movie
        if (this.editedIndex > -1 && this.editedId > -1) {
          this.$axios
            .patch(`/api/movies/${this.editedId}`, this.editedItem)
            .then((response) => {
              Object.assign(this.movies[this.editedIndex], this.editedItem);
              this.clearAfterChange();
            })
            .catch(errors => this.errors = errors.response.data);
        } else {
          // create movie
          this.$axios
            .post(`/api/movies`, this.editedItem)
            .then((response) => {
              this.movies.unshift(this.editedItem);
              this.clearAfterChange();
            })
            .catch(errors => this.errors = errors.response.data);
        }
      }
    },
    clearAfterChange() {
      this.$refs.form.resetValidation();
      this.errors = [];
      this.close();
    }
  },
};
</script>
