<template>
  <v-container>
    <v-row class="text-center" v-if="movie">
      <v-col cols="12">
        <h2 class="display-2 font-weight-bold mb-3">{{movie.title}}</h2>
      </v-col>
      <v-col cols="12" class="text-left">
        <p class="font-weight-bold mb-3">{{movie.description}}</p>
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Show id:
        </span>
        {{movie.show_id}}
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Type:
        </span>
        {{movie.type}}
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Director:
        </span>
        {{movie.director}}
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Cast:
        </span>
        {{movie.cast}}
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Country:
        </span>
        {{movie.country}}
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Release Year:
        </span>
        {{movie.release_year}}
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Rating:
        </span>
        {{movie.rating}}
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Duration:
        </span>
        {{movie.duration}}
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Listed In:
        </span>
        {{movie.listed_in}}
      </v-col>
      <v-col cols="12" class="text-left">
        <span class="font-weight-bold">
          Create At:
        </span>
        {{movie.created_at}}
      </v-col>
    </v-row>
  </v-container>
</template>

<script>

export default {
  name: 'Movie',
  data: () => ({
    movie: {},
  }),
  mounted() {
    this.getDataFromApi();
  },
  methods: {
    getDataFromApi() {
      this.loading = true;

      this.$axios
        .get(`/api/movies/${this.$route.params.id}`)
        .then((response) => {
          this.movie = response.data;
        })
        .catch(error => console.log(error));
    },
  },
};
</script>
